# Dependencias
node_modules/

# Variables de entorno
.env
.env.development
.env.production

# Build de frontend
frontend/dist/
frontend/build/

# Logs
logs/
*.log
npm-debug.log*

# PM2
.pm2/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Prisma
backend/prisma/migrations/
